<header>
    <h1>Animals World</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cat">Cat</a></li>
            <li><a href="/dog">Dog</a></li>
            <li><a href="/rabbit">Rabbit</a></li>
            <li><a href="/bird">Bird</a></li>
        </ul>
    </nav>
</header>

<style>
    /* CSS styles for header.ejs */
    header {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    h1 {
        margin: 0;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav ul li {
        display: inline;
        margin-right: 10px;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }
</style>
