extends layout

block content
 
  .jumbotron
    h1.display-4 Welcome to Bootstrap Example
    p.lead This is a simple example to get you started with Bootstrap.
    hr.my-4
    p Learn how to create responsive and visually appealing websites.
    a.btn.btn-primary.btn-lg(href='#' role='button') Get Started
      
      // Content Section
  .row
    .col-md-6
      h2 Section 1
      p This is the first section of your content.
    .col-md-6
      h2 Section 2
      p This is the second section of your content.



//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}
